In [27]:
from langchain_community.graphs import Neo4jGraph
import pandas as pd
import google.generativeai as genai
import numpy as np
import json
import torch
from torch_geometric.data import Data

ModuleNotFoundError: No module named 'torch_geometric'

In [13]:
df = pd.read_csv("data/cleaned_house_prices_data.csv", nrows=5000)
print(df.head())

   Index                                              Title  \
0      0  1 BHK Ready to Occupy Flat for sale in Srushti...
1      1  2 BHK Ready to Occupy Flat for sale in Dosti V...
2      2  2 BHK Ready to Occupy Flat for sale in Sunrise...
3      4  2 BHK Ready to Occupy Flat for sale in TenX Ha...
4      5  1 BHK Ready to Occupy Flat for sale in Virat A...

                                         Description  Amount(in rupees)  \
0  Bhiwandi, Thane has an attractive 1 BHK Flat f...          4200000.0
1  One can find this stunning 2 BHK flat for sale...          9800000.0
2  Up for immediate sale is a 2 BHK apartment in ...         14000000.0
3  This lovely 2 BHK Flat in Pokhran Road, Thane ...         16000000.0
4  Creatively planned and constructed is a 1 BHK ...          4500000.0

   Price (in rupees) location         Status Transaction      Furnishing  \
0             6000.0    thane  Ready to Move      Resale     Unfurnished
1            13799.0    thane  Ready to Move      Resale  Semi-Furnished
2            17500.0    thane  Ready to Move      Resale     Unfurnished
3            18824.0    thane  Ready to Move      Resale     Unfurnished
4             6618.0    thane  Ready to Move      Resale     Unfurnished

    facing Bathroom Balcony Car Parking             Ownership  Current Floor  \
0  Unknown        1       2           0               Unknown             10
1     East        2       0      1 Open              Freehold              3
2     East        2       0   1 Covered              Freehold             10
3     West        2       0   1 Covered  Co-operative Society             20
4     East        1       1           0  Co-operative Society              2

   Total Floors
0            11
1            22
2            29
3            42
4             7

In [15]:
df['amount'] = df['Amount(in rupees)']
df['price'] = df['Price (in rupees)']
df = df.drop(columns=["Index", 'Amount(in rupees)', 'Price (in rupees)'])

In [17]:
for col in df.columns:
    print(col)

Title
Description
location
Status
Transaction
Furnishing
facing
Bathroom
Balcony
Car Parking
Ownership
Current Floor
Total Floors
amount
price

In [19]:
df.columns = (
    df.columns.str.lower() # Chuy·ªÉn v·ªÅ ch·ªØ th∆∞·ªùng
    .str.replace(" ", "_") # Thay kho·∫£ng tr·∫Øng b·∫±ng d·∫•u g·∫°ch d∆∞·ªõi (_)
    .str.replace(r"\(.*\)", "", regex=True) # X√≥a n·ªôi dung trong ngo·∫∑c
)

In [21]:
NEO4J_URL = "bolt://localhost:7687"
NEO4J_USERNAME = "neo4j"
NEO4J_PASSWORD = "hqiineo4j"
NEO4J_DATABASE = "neo4j"

graph = Neo4jGraph(
    url=NEO4J_URL,
    username=NEO4J_USERNAME,
    password=NEO4J_PASSWORD,
    database=NEO4J_DATABASE
)

print("okay")

C:\Users\Admin\AppData\Local\Temp\ipykernel_14688\3045156017.py:6: LangChainDeprecationWarning: The class `Neo4jGraph` was deprecated in LangChain 0.3.8 and will be removed in 1.0. An updated version of the class exists in the :class:`~langchain-neo4j package and should be used instead. To use it run `pip install -U :class:`~langchain-neo4j` and import as `from :class:`~langchain_neo4j import Neo4jGraph``.
  graph = Neo4jGraph(

okay

In [25]:

def insert_data(title, description, amount, price, location, status, transaction, furnishing, facing, bathroom, balcony, car_parking, ownership, current_floor, total_floors):
    query = """
    MERGE (h:House {title: $title})
    SET h.description = $description,
        h.amount = $amount,
        h.price = $price
    
    MERGE (l:Location {name: $location})
    MERGE (h)-[:LOCATED_IN]->(l)
    
    MERGE (o:Ownership {name: $ownership})
    MERGE (h)-[:HAS_OWNERSHIP]->(o)
    
    MERGE (s:Status {name: $status})
    MERGE (h)-[:HAS_STATUS]->(s)
    
    MERGE (t:Transaction {name: $transaction})
    MERGE (h)-[:HAS_TRANSACTION]->(t)
    
    MERGE (f:Furnishing {name: $furnishing})
    MERGE (h)-[:HAS_FURNISHING]->(f)
    
    MERGE (fc:Facing {name: $facing})
    MERGE (h)-[:HAS_FACING]->(fc)
    
    MERGE (b:Bathroom {name: $bathroom})
    MERGE (h)-[:HAS_BATHROOM]->(b)
    
    MERGE (ba:Balcony {name: $balcony})
    MERGE (h)-[:HAS_BALCONY]->(ba)
    
    MERGE (cp:CarParking {name: $car_parking})
    MERGE (h)-[:HAS_CAR_PARKING]->(cp)
    
    MERGE (cf:CurrentFloor {name: $current_floor})
    MERGE (h)-[:HAS_CURRENT_FLOOR]->(cf)
    
    MERGE (tf:TotalFloors {name: $total_floors})
    MERGE (h)-[:HAS_TOTAL_FLOORS]->(tf)
    """

    graph.query(query, params={
        "title": title, 
        "description": description, 
        "amount": amount, 
        "price": price, 
        "location": location, 
        "status": status, 
        "transaction": transaction, 
        "furnishing": furnishing, 
        "facing": facing, 
        "bathroom": bathroom, 
        "balcony": balcony, 
        "car_parking": car_parking, 
        "ownership": ownership, 
        "current_floor": current_floor, 
        "total_floors": total_floors
    })

print("‚úÖ D·ªØ li·ªáu ƒë√£ nh·∫≠p v√†o Neo4j!")

‚úÖ D·ªØ li·ªáu ƒë√£ nh·∫≠p v√†o Neo4j!

In [89]:
# C·∫•u h√¨nh Gemini API
genai.configure(api_key="AIzaSyAmLesw2keGhIrZPMEyYJUs1PUqIidIWFU")

# Kh·ªüi t·∫°o model Gemini
model = genai.GenerativeModel("gemini-2.0-flash")

# # H√†m tr√≠ch xu·∫•t th·ª±c th·ªÉ t·ª´ c√¢u h·ªèi
# def extract_entities(question):
#     prompt = f"Tr√≠ch xu·∫•t c√°c th·ª±c th·ªÉ quan tr·ªçng t·ª´ c√¢u h·ªèi: '{question}'. Ch·ªâ tr·∫£ v·ªÅ danh s√°ch th·ª±c th·ªÉ, kh√¥ng th√™m b·∫•t k·ª≥ vƒÉn b·∫£n n√†o kh√°c. ∆Øu ti√™n t√≠nh li√™n k·∫øt v√† th√¥ng nh·∫•t c·ªßa th·ª±c th·ªÉ"
#     response = model.generate_content(prompt)
    
#     if response and response.text:
#         return response.text.strip().split(", ")
#     else:
#         return []

In [ ]:
def get_all_entities(tx):
    query = """
    MATCH (n) RETURN DISTINCT n.name AS entity
    """
    result = tx.run(query)
    return [record["entity"] for record in result if record["entity"]]

with driver.session() as session:
    entity_list = session.read_transaction(get_all_entities)

print(f"‚úÖ L·∫•y {len(entity_list)} th·ª±c th·ªÉ t·ª´ Knowledge Graph")

In [9]:
# user_input = "i want to buy a 2 BHK Ready to Occupy Flat that located in thane and have 2 bathrooms"
# extract_entities(user_input)

In [10]:
# !pip install rapidfuzz

In [11]:
# from rapidfuzz import process, fuzz

# def find_top_matches(extracted_entities, entity_dict, top_n=5, threshold=10):
#     """
#     T√¨m top_n th·ª±c th·ªÉ g·∫ßn nh·∫•t cho t·ª´ng th·ª±c th·ªÉ tr√≠ch xu·∫•t.
#     Tr·∫£ v·ªÅ danh s√°ch c√°c th·ª±c th·ªÉ t∆∞∆°ng ƒë·ªìng v·ªõi % ƒë·ªô gi·ªëng nhau.
#     """
#     results = {}  # L∆∞u k·∫øt qu·∫£ theo t·ª´ng th·ª±c th·ªÉ tr√≠ch xu·∫•t

#     entity_names = [str(name) for name in entity_dict.keys()]  # L·∫•y danh s√°ch t√™n th·ª±c th·ªÉ

#     for entity in extracted_entities:
#         entity = str(entity)  # ƒê·∫£m b·∫£o entity l√† chu·ªói

#         matches = process.extract(entity, entity_names, scorer=fuzz.token_sort_ratio, limit=top_n)

#         # L·ªçc c√°c th·ª±c th·ªÉ c√≥ ƒë·ªô t∆∞∆°ng ƒë·ªìng >= threshold
#         filtered_matches = [(match, score, entity_dict[match]) for match, score, _ in matches if score >= threshold]

#         if filtered_matches:
#             results[entity] = filtered_matches  # L∆∞u danh s√°ch th·ª±c th·ªÉ g·∫ßn nh·∫•t

#     return results

# find_best_matches(extract_entities(user_input), entity_dict=entity_dict)

In [12]:
# user_input = "2 BHK Ready to Occupy Flat, thane, 2 bathrooms"

# # 1Ô∏è‚É£ Tr√≠ch xu·∫•t th·ª±c th·ªÉ t·ª´ LLM
# extracted_entities = extract_entities(user_input)  # Tr√≠ch xu·∫•t th·ª±c th·ªÉ

# # 2Ô∏è‚É£ T√¨m ki·∫øm 5 th·ª±c th·ªÉ g·∫ßn nh·∫•t cho t·ª´ng th·ª±c th·ªÉ
# top_matches = find_top_matches(extracted_entities, entity_dict, top_n=5, threshold=10)

# # 3Ô∏è‚É£ Hi·ªÉn th·ªã k·∫øt qu·∫£
# for entity, matches in top_matches.items():
#     print(f"üìå **Th·ª±c th·ªÉ tr√≠ch xu·∫•t**: {entity}")
#     for match, score, entity_type in matches:
#         print(f"   üîπ {match} ({entity_type}) - {score}% gi·ªëng nhau")
#     print()

In [22]:
# import json

# # ƒê·ªçc schema t·ª´ file JSON
# with open("data/schema.json", "r", encoding="utf-8") as f:
#     schema = json.load(f)

# def generate_cypher_prompt(text):
#     CYPHER_GENERATION_TEMPLATE = f"""Nhi·ªám v·ª•: T·∫°o m·ªôt truy v·∫•n Cypher ƒë·ªÉ truy v·∫•n c∆° s·ªü d·ªØ li·ªáu ƒë·ªì th·ªã Neo4j.
#         H∆∞·ªõng d·∫´n:
#         - Ph√¢n t√≠ch c√¢u h·ªèi v√† tr√≠ch xu·∫•t c√°c th√†nh ph·∫ßn ƒë·ªì th·ªã li√™n quan m·ªôt c√°ch linh ho·∫°t. S·ª≠ d·ª•ng th√¥ng tin n√†y ƒë·ªÉ x√¢y d·ª±ng truy v·∫•n Cypher.
#         - Ch·ªâ s·ª≠ d·ª•ng c√°c lo·∫°i quan h·ªá v√† thu·ªôc t√≠nh t·ª´ s∆° ƒë·ªì ƒë√£ cung c·∫•p. Kh√¥ng bao g·ªìm b·∫•t k·ª≥ lo·∫°i quan h·ªá ho·∫∑c thu·ªôc t√≠nh n√†o kh√°c.
#         - S∆° ƒë·ªì ƒë∆∞·ª£c x√¢y d·ª±ng d·ª±a tr√™n c·∫•u tr√∫c ƒë·ªì th·ªã v·ªõi c√°c n√∫t v√† quan h·ªá nh∆∞ sau:
#         {json.dumps(schema, indent=4, ensure_ascii=False)}
#         - Ch·ªâ tr·∫£ v·ªÅ truy v·∫•n Cypher ƒë√£ ƒë∆∞·ª£c t·∫°o trong ph·∫£n h·ªìi c·ªßa b·∫°n. Kh√¥ng bao g·ªìm gi·∫£i th√≠ch, ch√∫ th√≠ch ho·∫∑c b·∫•t k·ª≥ vƒÉn b·∫£n b·ªï sung n√†o kh√°c. 
#         - ƒê·∫£m b·∫£o truy v·∫•n Cypher ph·∫£n h·ªìi ch√≠nh x√°c c√¢u h·ªèi ƒë∆∞·ª£c ƒë∆∞a ra theo ƒë√∫ng s∆° ƒë·ªì.

#         c√¢u c·∫ßn b·∫°n sinh truy v·∫•n l√†:
#         {text}
#     """

#     response = model.generate_content(CYPHER_GENERATION_TEMPLATE)
#     return response.text

In [24]:
# client_message = "i want to buy a 1 BHK Ready to Occupy Flat for sale in Srushti that have 2 bathrooms and face to the west"
# cypher_result = generate_cypher_prompt(client_message)
# print(cypher_result)
# def clean_cypher_code(code: str) -> str:
#     return code.replace("```cypher", "").replace("```", "").strip()

# cypher_result = clean_cypher_code(cypher_result)
# cypher_result

```cypher
MATCH (h:House)-[:HAS_BATHROOM]->(b:Bathroom {`Bathroom`: "2"})
MATCH (h)-[:HAS_STATUS]->(s:Status {`Status`: "Ready to Move"})
MATCH (h)-[:HAS_FACING]->(f:Facing {`Facing`: "West"})
MATCH (h)-[:LOCATED_IN]->(l:Location)
WHERE l.Location = "thane"
RETURN h
```

'MATCH (h:House)-[:HAS_BATHROOM]->(b:Bathroom {`Bathroom`: "2"})\nMATCH (h)-[:HAS_STATUS]->(s:Status {`Status`: "Ready to Move"})\nMATCH (h)-[:HAS_FACING]->(f:Facing {`Facing`: "West"})\nMATCH (h)-[:LOCATED_IN]->(l:Location)\nWHERE l.Location = "thane"\nRETURN h'

In [25]:
# result = graph.query(cypher_result)
# result

NameError: name 'graph' is not defined

In [107]:
def house_predict_prompt(row):
    prompt_template = f"""D∆∞·ªõi ƒë√¢y l√† th√¥ng tin v·ªÅ m·ªôt cƒÉn nh√†, h√£y ∆∞·ªõc t√≠nh gi√° b√°n d·ª±a tr√™n d·ªØ li·ªáu th·ªã tr∆∞·ªùng hi·ªán t·∫°i theo ƒë∆°n v·ªã INR.  
    Ch·ªâ tr·∫£ v·ªÅ m·ªôt con s·ªë duy nh·∫•t l√† gi√° nh√† (kh√¥ng gi·∫£i th√≠ch, kh√¥ng k√®m theo k√Ω t·ª± kh√°c).  

    Th√¥ng tin cƒÉn nh√†:  
    - **V·ªã tr√≠:** {row['location']}  
    - **Tr·∫°ng th√°i:** {row['status']}  
    - **Lo·∫°i giao d·ªãch:** {row['transaction']}  
    - **N·ªôi th·∫•t:** {row['furnishing']}  
    - **H∆∞·ªõng nh√†:** {row['facing']}  
    - **S·ªë ph√≤ng t·∫Øm:** {row['bathroom']}  
    - **S·ªë ban c√¥ng:** {row['balcony']}  
    - **Ch·ªó ƒë·ªÉ xe:** {row['car_parking']}  
    - **Quy·ªÅn s·ªü h·ªØu:** {row['ownership']}  
    - **T·∫ßng hi·ªán t·∫°i:** {row['current_floor']}  
    - **T·ªïng s·ªë t·∫ßng:** {row['total_floors']}  

    D∆∞·ªõi ƒë√¢y l√† th√¥ng tin v√≠ d·ª• v·ªÅ m·ªôt s·ªë cƒÉn nh√† v√† gi√° c·ªßa ch√∫ng:\n\n
    """

    # Ch·ªçn v√≠ d·ª• t·ª´ dataset l√†m d·ªØ li·ªáu Few-shot learning
    examples = df.sample(40).to_dict(orient="records")

    for ex in examples:
        prompt_template += f"- **V·ªã tr√≠:** {ex['location']}, **Tr·∫°ng th√°i:** {ex['status']}, **Lo·∫°i giao d·ªãch:** {ex['transaction']}, **N·ªôi th·∫•t:** {ex['furnishing']}, **H∆∞·ªõng:** {ex['facing']}, **Ph√≤ng t·∫Øm:** {ex['bathroom']}, **Ban c√¥ng:** {ex['balcony']}, **Ch·ªó ƒë·ªÉ xe:** {ex['car_parking']}, **Quy·ªÅn s·ªü h·ªØu:** {ex['ownership']}, **T·∫ßng hi·ªán t·∫°i:** {ex['current_floor']}, **T·ªïng t·∫ßng:** {ex['total_floors']}, **Gi√° nh√†:** {ex['amount']} \n\n"
    

    prompt_template += "Vui l√≤ng d·ª± ƒëo√°n gi√° nh√† v√† ch·ªâ tr·∫£ v·ªÅ m·ªôt con s·ªë duy nh·∫•t, kh√¥ng k√®m theo vƒÉn b·∫£n ho·∫∑c k√Ω t·ª± n√†o kh√°c."

    response = model.generate_content(prompt_template)
    return response.text

In [29]:
df

,title,description,location,status,transaction,furnishing,facing,bathroom,balcony,car_parking,ownership,current_floor,total_floors,amount,price
0,1 BHK Ready to Occupy Flat for sale in Srushti...,"Bhiwandi, Thane has an attractive 1 BHK Flat f...",thane,Ready to Move,Resale,Unfurnished,Unknown,1,2,0,Unknown,10,11,4200000.0,6000.0
1,2 BHK Ready to Occupy Flat for sale in Dosti V...,One can find this stunning 2 BHK flat for sale...,thane,Ready to Move,Resale,Semi-Furnished,East,2,0,1 Open,Freehold,3,22,9800000.0,13799.0
2,2 BHK Ready to Occupy Flat for sale in Sunrise...,Up for immediate sale is a 2 BHK apartment in ...,thane,Ready to Move,Resale,Unfurnished,East,2,0,1 Covered,Freehold,10,29,14000000.0,17500.0
3,2 BHK Ready to Occupy Flat for sale in TenX Ha...,"This lovely 2 BHK Flat in Pokhran Road, Thane ...",thane,Ready to Move,Resale,Unfurnished,West,2,0,1 Covered,Co-operative Society,20,42,16000000.0,18824.0
4,1 BHK Ready to Occupy Flat for sale in Virat A...,Creatively planned and constructed is a 1 BHK ...,thane,Ready to Move,Resale,Unfurnished,East,1,1,0,Co-operative Society,2,7,4500000.0,6618.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
195,2 BHK Ready to Occupy Flat for sale in Hiranan...,Carefully laid out in the prime location of Hi...,thane,Ready to Move,Resale,Semi-Furnished,North - East,2,0,1 Open,Freehold,5,14,16500000.0,16517.0
196,2 BHK Ready to Occupy Flat for sale in Samrin ...,This exquisite 2 BHK Flat is offered for sale ...,thane,Ready to Move,New Property,Unfurnished,North - East,2,1,1 Covered,Freehold,2,29,15900000.0,22053.0
197,2 BHK Ready to Occupy Flat for sale in And For...,One can find this stunning 2 BHK flat for sale...,thane,Ready to Move,Resale,Semi-Furnished,East,2,3,0,Freehold,7,19,6300000.0,7545.0
198,2 BHK Ready to Occupy Flat for sale Bhaskar Co...,This ready to move-in 2 BHK flat is available ...,thane,Ready to Move,New Property,Unfurnished,East,2,2,1 Covered,Freehold,4,30,19300000.0,14846.0
199,3 BHK Ready to Occupy Flat for sale in Project...,This beautiful 3 BHK Flat is available for sal...,thane,Ready to Move,Resale,Semi-Furnished,West,3,0,"1 Covered,",Freehold,12,27,29900000.0,19933.0

In [109]:
row = df.iloc[50]
print(f"Gi√° nh√† th·ª±c t·∫ø: {row['amount']}")
predicted_price = house_predict_prompt(row)
print(f"Gi√° nh√† d·ª± ƒëo√°n: {predicted_price}")

Gi√° nh√† th·ª±c t·∫ø: 10000000.0
Gi√° nh√† d·ª± ƒëo√°n: 6500000