In [45]:
from langchain_community.graphs import Neo4jGraph
import pandas as pd
import google.generativeai as genai
import numpy as np
import json

In [79]:
df = pd.read_csv("data/cleaned_house_prices_data.csv")
df.head()

C:\Users\Admin\AppData\Local\Temp\ipykernel_23116\914232251.py:1: DtypeWarning: Columns (11) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv("data/cleaned_house_prices_data.csv")

,Index,Title,Description,Amount(in rupees),Price (in rupees),location,Status,Transaction,Furnishing,facing,Bathroom,Balcony,Car Parking,Ownership,Current Floor,Total Floors
0,0,1 BHK Ready to Occupy Flat for sale in Srushti...,"Bhiwandi, Thane has an attractive 1 BHK Flat f...",4200000.0,6000.0,thane,Ready to Move,Resale,Unfurnished,Unknown,1,2,0,Unknown,10,11
1,1,2 BHK Ready to Occupy Flat for sale in Dosti V...,One can find this stunning 2 BHK flat for sale...,9800000.0,13799.0,thane,Ready to Move,Resale,Semi-Furnished,East,2,0,1 Open,Freehold,3,22
2,2,2 BHK Ready to Occupy Flat for sale in Sunrise...,Up for immediate sale is a 2 BHK apartment in ...,14000000.0,17500.0,thane,Ready to Move,Resale,Unfurnished,East,2,0,1 Covered,Freehold,10,29
3,4,2 BHK Ready to Occupy Flat for sale in TenX Ha...,"This lovely 2 BHK Flat in Pokhran Road, Thane ...",16000000.0,18824.0,thane,Ready to Move,Resale,Unfurnished,West,2,0,1 Covered,Co-operative Society,20,42
4,5,1 BHK Ready to Occupy Flat for sale in Virat A...,Creatively planned and constructed is a 1 BHK ...,4500000.0,6618.0,thane,Ready to Move,Resale,Unfurnished,East,1,1,0,Co-operative Society,2,7

In [81]:
df['amount'] = df['Amount(in rupees)']
df['price'] = df['Price (in rupees)']
df = df.head(200).drop(columns=["Index", 'Amount(in rupees)', 'Price (in rupees)'])
df.to_csv("200test.csv")

In [5]:
for col in df.columns:
    print(col)

Title
Description
location
Status
Transaction
Furnishing
facing
Bathroom
Balcony
Car Parking
Ownership
Current Floor
Total Floors
amount
price

In [6]:
df.columns = (
    df.columns.str.lower() # Chuyển về chữ thường
    .str.replace(" ", "_") # Thay khoảng trắng bằng dấu gạch dưới (_)
    .str.replace(r"\(.*\)", "", regex=True) # Xóa nội dung trong ngoặc
)

In [47]:
NEO4J_URL = "bolt://localhost:7687"
NEO4J_USERNAME = "neo4j"
NEO4J_PASSWORD = "hqiineo4j"
NEO4J_DATABASE = "neo4j"

graph = Neo4jGraph(
    url=NEO4J_URL,
    username=NEO4J_USERNAME,
    password=NEO4J_PASSWORD,
    database=NEO4J_DATABASE
)

print("okay")

C:\Users\Admin\AppData\Local\Temp\ipykernel_23116\3045156017.py:6: LangChainDeprecationWarning: The class `Neo4jGraph` was deprecated in LangChain 0.3.8 and will be removed in 1.0. An updated version of the class exists in the :class:`~langchain-neo4j package and should be used instead. To use it run `pip install -U :class:`~langchain-neo4j` and import as `from :class:`~langchain_neo4j import Neo4jGraph``.
  graph = Neo4jGraph(

okay

In [7]:
# Dictionary lưu tất cả các node thực thể (dùng RapidFuzz sau này)
entity_dict = {}

def insert_data(tx, title, description, amount, price, location, status, transaction, furnishing, facing, bathroom, balcony, car_parking, ownership, current_floor, total_floors):
    query = """
    MERGE (h:House {title: $title})
    SET h.description = $description,
        h.amount = $amount,
        h.price = $price
    
    MERGE (l:Location {name: $location})
    MERGE (h)-[:LOCATED_IN]->(l)
    
    MERGE (o:Ownership {name: $ownership})
    MERGE (h)-[:HAS_OWNERSHIP]->(o)
    
    MERGE (s:Status {name: $status})
    MERGE (h)-[:HAS_STATUS]->(s)
    
    MERGE (t:Transaction {name: $transaction})
    MERGE (h)-[:HAS_TRANSACTION]->(t)
    
    MERGE (f:Furnishing {name: $furnishing})
    MERGE (h)-[:HAS_FURNISHING]->(f)
    
    MERGE (fc:Facing {name: $facing})
    MERGE (h)-[:HAS_FACING]->(fc)
    
    MERGE (b:Bathroom {name: $bathroom})
    MERGE (h)-[:HAS_BATHROOM]->(b)
    
    MERGE (ba:Balcony {name: $balcony})
    MERGE (h)-[:HAS_BALCONY]->(ba)
    
    MERGE (cp:CarParking {name: $car_parking})
    MERGE (h)-[:HAS_CAR_PARKING]->(cp)
    
    MERGE (cf:CurrentFloor {name: $current_floor})
    MERGE (h)-[:HAS_CURRENT_FLOOR]->(cf)
    
    MERGE (tf:TotalFloors {name: $total_floors})
    MERGE (h)-[:HAS_TOTAL_FLOORS]->(tf)
    """
    tx.run(query, title=title, description=description, amount=amount, price=price, location=location, 
           status=status, transaction=transaction, furnishing=furnishing, facing=facing,
           bathroom=bathroom, balcony=balcony, car_parking=car_parking, ownership=ownership,
           current_floor=current_floor, total_floors=total_floors)

# Nhập dữ liệu & lưu thực thể vào dictionary chung
with graph.session() as session:
    for _, row in df.iterrows():
        session.write_transaction(insert_data, **row.to_dict())
        
        # Lưu thực thể vào từ điển chung (giá trị node -> loại node)
        entity_dict[row["title"]] = "House"
        entity_dict[row["location"]] = "Location"
        entity_dict[row["ownership"]] = "Ownership"
        entity_dict[row["status"]] = "Status"
        entity_dict[row["transaction"]] = "Transaction"
        entity_dict[row["furnishing"]] = "Furnishing"
        entity_dict[row["facing"]] = "Facing"
        entity_dict[row["bathroom"]] = "Bathroom"
        entity_dict[row["balcony"]] = "Balcony"
        entity_dict[row["car_parking"]] = "CarParking"
        entity_dict[row["current_floor"]] = "CurrentFloor"
        entity_dict[row["total_floors"]] = "TotalFloors"

print("✅ Dữ liệu đã nhập vào Neo4j!")

# ================== TRÍCH XUẤT SCHEMA ==================
def get_schema(tx):
    schema = {"nodes": {}, "relationships": []}

    # Lấy danh sách các loại quan hệ
    result = tx.run("CALL db.relationshipTypes()")
    schema["relationships"] = [record["relationshipType"] for record in result]

    # Lấy danh sách giá trị node
    node_labels = list(set(entity_dict.values()))
    for label in node_labels:
        result = tx.run(f"MATCH (n:{label}) RETURN DISTINCT n.name AS name")
        schema["nodes"][label] = [record["name"] for record in result if record["name"]]

    return schema

with driver.session() as session:
    schema_data = session.read_transaction(get_schema)

# Lưu schema vào file JSON
with open("data/schema.json", "w", encoding="utf-8") as f:
    json.dump(schema_data, f, indent=4, ensure_ascii=False)

print("✅ Schema đã được lưu vào file schema.json!")

# Đóng kết nối Neo4j
driver.close()

C:\Users\Admin\AppData\Local\Temp\ipykernel_23116\845849005.py:61: DeprecationWarning: write_transaction has been renamed to execute_write
  session.write_transaction(insert_data, **row.to_dict())

✅ Dữ liệu đã nhập vào Neo4j!
✅ Schema đã được lưu vào file schema.json!

C:\Users\Admin\AppData\Local\Temp\ipykernel_23116\845849005.py:96: DeprecationWarning: read_transaction has been renamed to execute_read
  schema_data = session.read_transaction(get_schema)

In [35]:
# Cấu hình Gemini API
genai.configure(api_key="AIzaSyAmLesw2keGhIrZPMEyYJUs1PUqIidIWFU")

# Khởi tạo model Gemini
model = genai.GenerativeModel("gemini-2.0-flash")

# # Hàm trích xuất thực thể từ câu hỏi
# def extract_entities(question):
#     prompt = f"Trích xuất các thực thể quan trọng từ câu hỏi: '{question}'. Chỉ trả về danh sách thực thể, không thêm bất kỳ văn bản nào khác. Ưu tiên tính liên kết và thông nhất của thực thể"
#     response = model.generate_content(prompt)
    
#     if response and response.text:
#         return response.text.strip().split(", ")
#     else:
#         return []

In [9]:
# user_input = "i want to buy a 2 BHK Ready to Occupy Flat that located in thane and have 2 bathrooms"
# extract_entities(user_input)

In [10]:
# !pip install rapidfuzz

In [11]:
# from rapidfuzz import process, fuzz

# def find_top_matches(extracted_entities, entity_dict, top_n=5, threshold=10):
#     """
#     Tìm top_n thực thể gần nhất cho từng thực thể trích xuất.
#     Trả về danh sách các thực thể tương đồng với % độ giống nhau.
#     """
#     results = {}  # Lưu kết quả theo từng thực thể trích xuất

#     entity_names = [str(name) for name in entity_dict.keys()]  # Lấy danh sách tên thực thể

#     for entity in extracted_entities:
#         entity = str(entity)  # Đảm bảo entity là chuỗi

#         matches = process.extract(entity, entity_names, scorer=fuzz.token_sort_ratio, limit=top_n)

#         # Lọc các thực thể có độ tương đồng >= threshold
#         filtered_matches = [(match, score, entity_dict[match]) for match, score, _ in matches if score >= threshold]

#         if filtered_matches:
#             results[entity] = filtered_matches  # Lưu danh sách thực thể gần nhất

#     return results

# find_best_matches(extract_entities(user_input), entity_dict=entity_dict)

In [12]:
# user_input = "2 BHK Ready to Occupy Flat, thane, 2 bathrooms"

# # 1️⃣ Trích xuất thực thể từ LLM
# extracted_entities = extract_entities(user_input)  # Trích xuất thực thể

# # 2️⃣ Tìm kiếm 5 thực thể gần nhất cho từng thực thể
# top_matches = find_top_matches(extracted_entities, entity_dict, top_n=5, threshold=10)

# # 3️⃣ Hiển thị kết quả
# for entity, matches in top_matches.items():
#     print(f"📌 **Thực thể trích xuất**: {entity}")
#     for match, score, entity_type in matches:
#         print(f"   🔹 {match} ({entity_type}) - {score}% giống nhau")
#     print()

In [39]:
import json

# Đọc schema từ file JSON
with open("data/schema.json", "r", encoding="utf-8") as f:
    schema = json.load(f)

def generate_cypher_prompt(text):
    CYPHER_GENERATION_TEMPLATE = f"""Nhiệm vụ: Tạo một truy vấn Cypher để truy vấn cơ sở dữ liệu đồ thị Neo4j.
        Hướng dẫn:
        - Phân tích câu hỏi và trích xuất các thành phần đồ thị liên quan một cách linh hoạt. Sử dụng thông tin này để xây dựng truy vấn Cypher.
        - Chỉ sử dụng các loại quan hệ và thuộc tính từ sơ đồ đã cung cấp. Không bao gồm bất kỳ loại quan hệ hoặc thuộc tính nào khác.
        - Sơ đồ được xây dựng dựa trên cấu trúc đồ thị với các nút và quan hệ như sau:
        {json.dumps(schema, indent=4, ensure_ascii=False)}
        - Chỉ trả về truy vấn Cypher đã được tạo trong phản hồi của bạn. Không bao gồm giải thích, chú thích hoặc bất kỳ văn bản bổ sung nào khác. 
        - Đảm bảo truy vấn Cypher phản hồi chính xác câu hỏi được đưa ra theo đúng sơ đồ.

        câu cần bạn sinh truy vấn là:
        {text}
    """

    response = model.generate_content(CYPHER_GENERATION_TEMPLATE)
    return response.text

In [41]:
client_message = "i want to buy a 1 BHK Ready to Occupy Flat for sale in Srushti that have 2 bathrooms and face to the west"
cypher_result = generate_cypher_prompt(client_message)
print(cypher_result)
def clean_cypher_code(code: str) -> str:
    return code.replace("```cypher", "").replace("```", "").strip()

cypher_result = clean_cypher_code(cypher_result)
cypher_result

```cypher
MATCH (h:House)-[:HAS_BATHROOM]->(b:Bathroom {name: "2"}),
(h)-[:HAS_STATUS]->(s:Status {name: "Ready to Move"}),
(h)-[:HAS_FACING]->(f:Facing {name: "West"})
RETURN h
```

'MATCH (h:House)-[:HAS_BATHROOM]->(b:Bathroom {name: "2"}),\n(h)-[:HAS_STATUS]->(s:Status {name: "Ready to Move"}),\n(h)-[:HAS_FACING]->(f:Facing {name: "West"})\nRETURN h'

In [51]:
result = graph.query(cypher_result)
result

[{'h': {'amount': 11000000.0,
   'price': 10690.0,
   'description': 'Discover this immaculate 2 BHK flat for sale at the pristine Dhokali in Thane. It is based at Siddeshwar Garden complex, that occupies a prominent place in the locality. This flat for resale is the perfect property for you! This ready to move flat is offered at an economical price of INR 1.10 Cr. It is semi-furnished to accommodate your needs. Some neighbouring landmarks are near to the rmall..',
   'title': '2 BHK Ready to Occupy Flat for sale in Siddeshwar Garden Dhokali'}},
 {'h': {'amount': 16000000.0,
   'price': 18824.0,
   'description': 'This lovely 2 BHK Flat in Pokhran Road, Thane is up for sale. This flat is situated in the Tenx Habitat Raymond Realty township and is equipped with premium facilities. This flat is an attractive property for resale. You can buy this ready to move flat in Pokhran Road at a reasonable price of INR 1.60 Cr. You will find it unfurnished. Some of the landmarks in the vicinity include pokhran road 2.',
   'title': '2 BHK Ready to Occupy Flat for sale in TenX Habitat Raymond Realty Pokhran Road'}},
 {'h': {'amount': 8600000.0,
   'price': 14576.0,
   'description': 'This lovely 2 BHK Flat in Kolshet Road, Thane is up for sale. Take the experience of contemporary living to a new high, with exquisitely designed apartments at Lodha Amara. Invest your valuable money in this flat that is for resale. The ready to move flat in the prime area of Kolshet Road is available at a reasonable price of INR 86 Lac. This unfurnished flat is strategically designed with all the amenities to enhance the living experience. The property is strategically placed near prominent places as 1.6 kms away from kapurbawdi junctionprime location which make for the smooth living of residents.',
   'title': '2 BHK Ready to Occupy Flat for sale in Lodha Amara Kolshet Road'}}]

In [63]:
def house_predict_prompt(row):
    prompt_template = f"""Dưới đây là thông tin về một căn nhà, hãy ước tính giá bán dựa trên dữ liệu thị trường hiện tại theo đơn vị INR.  
    Chỉ trả về một con số duy nhất là giá nhà (không giải thích, không kèm theo ký tự khác).  

    Thông tin căn nhà:  
    - **Vị trí:** {row['location']}  
    - **Trạng thái:** {row['status']}  
    - **Loại giao dịch:** {row['transaction']}  
    - **Nội thất:** {row['furnishing']}  
    - **Hướng nhà:** {row['facing']}  
    - **Số phòng tắm:** {row['bathroom']}  
    - **Số ban công:** {row['balcony']}  
    - **Chỗ để xe:** {row['car_parking']}  
    - **Quyền sở hữu:** {row['ownership']}  
    - **Tầng hiện tại:** {row['current_floor']}  
    - **Tổng số tầng:** {row['total_floors']}  

    Vui lòng dự đoán giá nhà và chỉ trả về một con số duy nhất, không kèm theo văn bản hoặc ký tự nào khác.  
    """

    response = model.generate_content(prompt_template)
    return response.text

In [57]:
df

,title,description,location,status,transaction,furnishing,facing,bathroom,balcony,car_parking,ownership,current_floor,total_floors,amount,price
0,1 BHK Ready to Occupy Flat for sale in Srushti...,"Bhiwandi, Thane has an attractive 1 BHK Flat f...",thane,Ready to Move,Resale,Unfurnished,Unknown,1,2,0,Unknown,10,11,4200000.0,6000.0
1,2 BHK Ready to Occupy Flat for sale in Dosti V...,One can find this stunning 2 BHK flat for sale...,thane,Ready to Move,Resale,Semi-Furnished,East,2,0,1 Open,Freehold,3,22,9800000.0,13799.0
2,2 BHK Ready to Occupy Flat for sale in Sunrise...,Up for immediate sale is a 2 BHK apartment in ...,thane,Ready to Move,Resale,Unfurnished,East,2,0,1 Covered,Freehold,10,29,14000000.0,17500.0
3,2 BHK Ready to Occupy Flat for sale in TenX Ha...,"This lovely 2 BHK Flat in Pokhran Road, Thane ...",thane,Ready to Move,Resale,Unfurnished,West,2,0,1 Covered,Co-operative Society,20,42,16000000.0,18824.0
4,1 BHK Ready to Occupy Flat for sale in Virat A...,Creatively planned and constructed is a 1 BHK ...,thane,Ready to Move,Resale,Unfurnished,East,1,1,0,Co-operative Society,2,7,4500000.0,6618.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
195,2 BHK Ready to Occupy Flat for sale in Hiranan...,Carefully laid out in the prime location of Hi...,thane,Ready to Move,Resale,Semi-Furnished,North - East,2,0,1 Open,Freehold,5,14,16500000.0,16517.0
196,2 BHK Ready to Occupy Flat for sale in Samrin ...,This exquisite 2 BHK Flat is offered for sale ...,thane,Ready to Move,New Property,Unfurnished,North - East,2,1,1 Covered,Freehold,2,29,15900000.0,22053.0
197,2 BHK Ready to Occupy Flat for sale in And For...,One can find this stunning 2 BHK flat for sale...,thane,Ready to Move,Resale,Semi-Furnished,East,2,3,0,Freehold,7,19,6300000.0,7545.0
198,2 BHK Ready to Occupy Flat for sale Bhaskar Co...,This ready to move-in 2 BHK flat is available ...,thane,Ready to Move,New Property,Unfurnished,East,2,2,1 Covered,Freehold,4,30,19300000.0,14846.0
199,3 BHK Ready to Occupy Flat for sale in Project...,This beautiful 3 BHK Flat is available for sal...,thane,Ready to Move,Resale,Semi-Furnished,West,3,0,"1 Covered,",Freehold,12,27,29900000.0,19933.0

In [77]:
row = df.iloc[5]
print(f"Giá nhà thực tế: {row['amount']}")
predicted_price = house_predict_prompt(row)
print(f"Giá nhà dự đoán: {predicted_price}")

Giá nhà thực tế: 1650000.0
Giá nhà dự đoán: 3500000